<form *ngIf="formGroup" [formGroup]="formGroup">
  <div class="form-field">
    <label for="pref-lang"
    >{{ 'preferences.default-language' | translate }}</label>
    <mat-form-field>
      <mat-select id="pref-lang" formControlName="defaultLanguage">
        <mat-option *ngFor="let language of languages" [value]="language"
        >{{ 'languages.' + language | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field">
    <label for="pref-fltr"
    >{{ 'preferences.default-filter' | translate }}</label>
    <mat-form-field>
      <mat-select id="pref-fltr" formControlName="defaultTopFilterName">
        <mat-option [value]="null">{{ 'shared.none' | translate }}</mat-option>
        <mat-option *ngFor="let filterName of filterNames" [value]="filterName"
        >{{ filterName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field">
    <label for="pref-page-size"
    >{{ 'preferences.page-size' | translate }}</label>
    <mat-form-field>
      <mat-select id="pref-page-size" formControlName="pageSize">
        <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize"
        >{{ pageSize }} {{ 'preferences.articles' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field">
    <label for="pref-inf-scrll"
    >{{ 'preferences.infinite-scrolling' | translate }}</label>
    <mat-slide-toggle
      id="pref-inf-scrll"
      formControlName="infiniteScroll"
      color="primary"
    ></mat-slide-toggle>
  </div>

  <div class="form-field">
    <label for="pref-dark-theme"
    >{{ 'preferences.dark-theme' | translate }}</label>
    <mat-slide-toggle
      id="pref-dark-theme"
      formControlName="darkTheme"
      color="primary"
    ></mat-slide-toggle>
  </div>

  <div class="form-actions">
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="formGroup.pristine"
      (click)="save()"
    >{{ 'preferences.save' | translate }}</button>
  </div>
</form>