<form *ngIf="formGroup" [formGroup]="formGroup">
  <div class="filter-row">
    <mat-form-field class="field-search-string">
      <mat-label>{{ 'filter.search-term' | translate }}</mat-label>
      <input formControlName="searchString" matInput autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="field-category">
      <mat-label>{{ 'filter.category' | translate }}</mat-label>
      <mat-select formControlName="category">
        <mat-option [value]="null">{{ 'shared.any' | translate }}</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ 'categories.' + category | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-country">
      <mat-label>{{ 'filter.country' | translate }}</mat-label>
      <mat-select formControlName="country">
        <mat-option [value]="null">{{ 'shared.any' | translate }}</mat-option>
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ 'countries.' + country | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-row">
    <mat-form-field class="field-sources">
      <mat-label>{{ 'filter.sources' | translate }}</mat-label>
      <news-sources-selector
        #sourcesSelector
        formControlName="sources"
        [country]="selectedCountry"
        [category]="selectedCategory"
      ></news-sources-selector>
      <mat-hint>
        <mat-progress-bar
          *ngIf="sourcesSelector.busy; else textHint"
          mode="buffer"
        ></mat-progress-bar>
        <ng-template #textHint>{{ sourcesSelector.hint }}</ng-template>
      </mat-hint>
    </mat-form-field>

    <div class="filter-actions">
      <button mat-button type="button" (click)="closeFilter()"
      >{{ 'shared.close' | translate }}</button>
      <button
        mat-button
        type="button"
        [disabled]="formIsEmpty"
        (click)="clearFilter()"
      >{{ 'shared.clear' | translate }}</button>
      <button
        mat-raised-button
        type="button"
        [disabled]="this.formGroup.pristine"
        (click)="applyFilter()"
      >{{ 'shared.apply' | translate }}</button>
    </div>
  </div>
</form>