<h1 mat-dialog-title>{{ title | translate }}</h1>

<div mat-dialog-content>
  <div *ngFor="let filterName of filterNames">
    <button
      type="button"
      mat-button
      class="filter-apply"
      (click)="applyFilter(filterName)"
    >{{ filterName }}</button>
    <button
      type="button"
      mat-button
      class="filter-delete"
      (click)="deleteFilter(filterName)"
    ><fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null" cdkFocusInitial>
    {{ 'shared.close' | translate }}
  </button>
</div>