:host {
  display: block;

  .saved-filter {
    display: flex;

    .filter-apply {
      flex-grow: 1;
      text-align: left;
    }

    .filter-delete {
      padding: 0;
      min-width: 40px;
    }
  }
}