<news-header>
  <news-top-filter-switch
    [filterOpened]="filterOpened"
    [filterApplied]="filterApplied"
    (toggle)="toggleFilter($event)">
  </news-top-filter-switch>
  <news-language-selector></news-language-selector>
  <news-preferences-link></news-preferences-link>
</news-header>

<news-top-filter
  *ngIf="filterOpened"
  (close)="toggleFilter(false)"
  (onApplyFilter)="dispatchSearch()"
></news-top-filter>

<news-articles-list [articles]="articles" withReadLaterAction
></news-articles-list>

<news-pager
  *ngIf="articles"
  [infinite]="infiniteScrollEnabled"
  [totalCount]="totalCount"
  [visibleCount]="visibleCount"
  (showMore)="showMore()"
></news-pager>