:host {
  display: block;

  .filter-button {
    border-radius: 0px;
    padding: 0;
    min-width: 48px;
  }

  .filter-menu-button {
    border-radius: 0px;
    padding: 0;
    min-width: 28px;
    opacity: 0.7;
  }
}