:host {
  display: block;
  width: 35px;
  line-height: 36px;
  padding-left: 16px;
  padding-right: 16px;

  border: 2px solid transparent;
  border-radius: 4px;
  &:hover, &.focused {
    border: 2px solid rgb(255, 255, 255, 0.04);
  }
}