:host {
  display: block;
  width: 300px;
  padding: 10px;

  mat-card-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    button {
      margin: 0;
    }

    fa-icon {
      font-size: 13px;

      &.icon-left {
        margin-right: 6px;
      }

      &.icon-right {
        margin-left: 6px;
      }
    }
  }
}