<mat-card *ngIf="article">
  <mat-card-header>
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="article.source.name">
      {{ article.source.name }}
    </mat-card-subtitle>
  </mat-card-header>

  <img *ngIf="article.urlToImage && article.urlToImage !== 'null'"
    mat-card-image
    [src]="article.urlToImage"
  />

  <mat-card-content>
    <p>{{ article.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a [href]="article.url" target="_blank" mat-button>
      {{ 'shared.open' | translate }}
      <fa-icon [icon]="faExternalLinkAlt" class="icon-right"></fa-icon>
    </a>

    <button
      *ngIf="isReadLaterActionVisible"
      mat-button
      (click)="addToReadLater()"
    >
      <fa-icon [icon]="faClock" class="icon-left"></fa-icon>
      {{ 'shared.read-later' | translate }}
    </button>

    <button
      *ngIf="isRemoveActionVisible"
      mat-button
      (click)="removeFromReadLater()"
    >
      <fa-icon [icon]="faTrash" class="icon-left"></fa-icon>
      {{ 'shared.remove' | translate }}
    </button>
  </mat-card-actions>
</mat-card>