:host {
  display: block;
  width: 300px;
  padding: 10px;

  mat-card-actions {
    display: flex;
    justify-content: space-between;

    fa-icon {
      font-size: 13px;

      &.icon-read-later {
        margin-right: 6px;
      }

      &.icon-open {
        margin-left: 6px;
      }
    }
  }
}