html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  min-width: 375px;
  overflow: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* filter menu */
.mat-menu-content fa-icon {
  margin-right: 8px;
}

/* navigation menu */
.mat-menu-content a {
  display: block;
  text-align: left;
  border-radius: 0;
}
.mat-menu-content a.active {
  color: #e91e63;
}

/* filter dialog */
mat-dialog-container [mat-dialog-actions] {
  flex-direction: row-reverse;
}