html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-menu-content fa-icon {
  margin-right: 8px;
}

mat-dialog-container [mat-dialog-actions] {
  flex-direction: row-reverse;
}