<h1 class="title">News</h1>

<a routerLink="/"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="action"
  mat-button
>Top Articles</a>

<a routerLink="/search"
  routerLinkActive="active"
  class="action"
  mat-button
>Search</a>

<span class="spacer"></span>

<span class="language-select">
  <mat-select value="en">
    <mat-option value="en">en</mat-option>
    <mat-option value="fr">fr</mat-option>
    <mat-option value="de">de</mat-option>
  </mat-select>
</span>