:host {
  display: flex;
  align-items: baseline;
  padding: 16px;

  .title {
    padding-right: 36px;
    color: #e91e63;
    font-weight: bold;
  }

  .action {
    border-bottom: 3px solid transparent;
    border-radius: 0;

    &.active {
      border-bottom-color: #e91e63;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  news-filter-switch {
    margin-right: 20px;
  }
}