<h1 class="title" color="primary">{{ 'header.title' | translate }}</h1>

<a routerLink="/"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="action"
  mat-button
>{{ 'header.top-articles' | translate }}</a>

<a routerLink="/search"
  routerLinkActive="active"
  class="action"
  mat-button
  disabled
  [matTooltip]="'shared.coming-soon' | translate"
  [matTooltipShowDelay]="viewConfig.tooltipDelay"
>{{ 'header.search' | translate }}</a>

<a routerLink="/readlater"
  routerLinkActive="active"
  class="action"
  mat-button
  disabled
  [matTooltip]="'shared.coming-soon' | translate"
  [matTooltipShowDelay]="viewConfig.tooltipDelay"
>{{ 'shared.read-later' | translate }}</a>

<span class="spacer"></span>

<news-filter-switch></news-filter-switch>
<news-language-selector></news-language-selector>