:host {
  display: block;

  border-radius: 4px;
  border: 2px solid rgb(255, 255, 255, 0.04);

  .filter-button {
    border-radius: 0px;
    padding: 0;
    min-width: 50px;
  }

  .filter-menu-button {
    border-radius: 0px;
    padding: 0;
    min-width: 30px;
    opacity: 0.7;
  }
}